.form {
  margin: 20px auto;
  margin-top: 80px;
  width: 100%;
  max-width: 600px;
  padding: 30px;
  box-sizing: border-box;
  background: #fff;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgb(47 77 133);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  font-family: 'Poppins', sans-serif;
  transition: 300ms;
}

.form-title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}

.form-label {
  color: #333;
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  text-align: left;
}

.form-input,
.form-textarea {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 14px;
  outline: none;
  box-sizing: border-box;
  margin-bottom: 20px;
}

.form-textarea {
  height: 150px;
}

.form-button {
  color: #fff;
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #0A2E5F;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: 300ms;  
  margin-top: 20px;
  border: none;
}

.form-button:hover{
  background-color: #f0eaea;
  color: #0A2E5F;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.486);
  transition: 300ms ease-in-out;
}
.google-btn img{
  width: 200px;
  margin: 10px;
  transition: 0.5s;

}.google-btn:hover img{
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.534);
  transform: scale(1.1);
}
.Modal-button {
  display: inline-block;
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: 300ms;  
  margin-top: 20px;
  border: 2px solid #ccc;
}



.Modal-button:hover{
  background-color: #ccc;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.Error{
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .form {
    padding: 20px;
    border-radius: 0;
    box-shadow: none;
  }

  .form-title {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .form-input,
  .form-textarea {
    height: 30px;
    margin-bottom: 15px;
  }

  .form-textarea {
    height: 100px;
  }

  .form-button {
    margin-top: 15px;
  }
}

