.table-container {
  display: table-row;
  margin: 20px 0;
  overflow-x: auto;
  text-align: center;
  }

  
  .table-container table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  }
  
  .table-container thead tr {
  background-color: #292b2c;
  color: #fff;
  }
  
  .table-container th,
  .table-container td {
  padding: 12px;
  text-align: center;
  }
  
  .table-container tr:nth-child(even) {
  background: #eff1f7;
  }
  
  .table-container th:first-child,
  .table-container td:first-child {
  text-align: left;
  }
  
  .table-container td p {
  margin: 0;
  }
  
  .Insert-Btn {
  background-color: rgb(47 ,77, 133);
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 15px 0 ;
  transition: all 0.2s ease-in-out;
  }
  
  .Insert-Btn:hover {
  background-color: #0069d9;
  cursor: pointer;
  }
  
  .btn {
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  }
  
  .btn-danger {
  background-color: #dc3545;
  padding: 7px 7px;
  padding-right: 2px;
  margin-bottom: 2px;
  }
  
  .btn-primary {
  background-color: #aecff1;
  color: #000000;
  padding: 5px 5px;
  padding-right: 0px;
  margin-bottom: 2px;
  }
  
  .btn-danger:hover,
  .btn-primary:hover {
  cursor: pointer;
  }
  
  .btn i {
  margin-right: 5px;
  }