.table-container {
  margin: 20px 0;
  }
  
  .table-container table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 100%;
  }
  
  .table-container thead tr {
  background-color: #292b2c;
  color: #fff;
  }
  
  .table-container th,
  .table-container td {
  padding: 12px;
  text-align: center;
  }
  
  .table-container th:first-child,
  .table-container td:first-child {
  text-align: left;
  }
  
  .table-container td p {
  margin: 0;
  }
  
  .Insert-Btn {
  background-color: #007bff;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 15px;
  }
  
  .Insert-Btn:hover {
  background-color: #0069d9;
  cursor: pointer;
  }
  
  .btn {
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin: 0 5px;
  }
  
  .btn-danger {
  background-color: #dc3545;
  }
  
  .btn-primary {
  background-color: #007bff;
  }
  
  .btn-danger:hover,
  .btn-primary:hover {
  cursor: pointer;
  }
  
  .btn i {
  margin-right: 5px;
  }