  .departement-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
  }

  .departement-list-heading {
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    width: 100%;
    color: #000000;
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 2px 8px rgba(11, 32, 71, 0.788);
    text-shadow: 1px 1px 1px #ffffff;
  }

  .departement-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 800px;
  }

  .departement-list-item {
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 0;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }

  .departement-list-item:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 120px rgba(0, 0, 0, 0.575);
  }

  .departement-list-item h3 {
    margin: 0;
    padding: 20px;
    background-color: #7e0a0a;
    color: #fff;
    cursor: pointer;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
  }

  .departement-list-item.selected {
    background-color: #eee;
  }

  .departement-details {
    padding: 20px;
    transition: all 0.9s ease;
    transition: max-height 0.3s ease-out;

  }

  .departement-name {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #990808;
  }

  .departement-description {
    margin-bottom: 20px;
  }

  .departement-filiere-heading {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    background: #990808;
    
  }
  .departement-filiere-nom {
    font-size: 20px !important;
    font-weight: bold;
    margin-bottom: 10px;
    color: #990808;
  }
  .departement-filieres {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .departement-filiere {
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  }

  .departement-filiere>h4 {
    margin: 0;
    padding: 20px;
    background-color: #324261;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #fff;
  }

  .departement-filiere h5 {
    font-size: 20px;
    padding: 10px 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #ffffff;
    background-color: #6381b8;
    
  }

  .departement-filiere p {
    margin: 0;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 1.5;
  }
  .departement-filiere-options{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .departement-filiere-options-heading {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2f4d85;
  }
  .departement-filiere-options-nom {
    font-size: 18px !important;
    font-weight: bold;
    margin-bottom: 10px;
    color: #2f4d85;
  }