/* Desktop styles */
header {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
                "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 15px;
  background-color: rgb(47 77 133);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  box-shadow: 0 0 15px 0 rgb(22, 31, 70);
  color: white;
}

.logo-container {
  font-family: 'Exo 2'!important;
  font-size: 2.8rem;
  align-items: center;
  text-decoration: none;
  padding-left: 20px;
  color: inherit;
}

header img {
  height: 50px;
}

.ul-header {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  margin-right: 2%;
  padding: 0;
}

.header-list {
  position: relative;
}

.header-list a,
.header-list button {
  text-decoration: none;
  color: inherit;
  display: inline-block;
  padding: 10px 0px;
  border-radius: 5px;
  color: inherit;
  font-weight: 400;
  cursor: pointer;
  transition: 500ms;
  margin: 0 20px;
  border: none;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
}

.header-list a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: rgb(175 8 27);
  transition: width 0.2s ease-in-out;
}

.header-list a:hover::after {
  width: 80%;
}

.header-list a:hover {
  color: #922424;
}

.header-list button::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #922424;
  transition: width 0.2s ease-in-out;
}

.header-list button:hover::after {
  width: 80%;
}

.header-list button:hover {
  color: #922424;
}

/* Tablet styles */
/* Tablet styles */
@media only screen and (max-width: 768px) {
  .logo-container {
    font-size: 2rem;
    padding-left: 10px;
  }
  .ul-header {
    display: none;
  }

  .menu-btn {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 20px;
    width: 30px;
    height: 25px;
    cursor: pointer;
  }

  .menu-btn__line {
    display: block;
    width: 100%;
    height: 3px;
    background-color: white;
    border-radius: 2px;
    margin-bottom: 5px;
    transition: transform 250ms ease-in-out;
  }

  .menu-btn__line:last-child {
    margin-bottom: 0;
  }

  .menu-btn:hover .menu-btn__line:nth-child(1) {
    transform: translateY(-2px);
  }

  .menu-btn:hover .menu-btn__line:nth-child(3) {
    transform: translateY(2px);
  }

  .menu-btn:not(.open) .menu-btn__line:nth-child(1) {
    transform: translateY(0) rotate(0deg);
  }

  .menu-btn:not(.open) .menu-btn__line:nth-child(2) {
    opacity: 1;
  }

  .menu-btn:not(.open) .menu-btn__line:nth-child(3) {
    transform: translateY(0) rotate(0deg);
  }

  .menu-btn.open .menu-btn__line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .menu-btn.open .menu-btn__line:nth-child(2) {
    opacity: 0;
  }

  .menu-btn.open .menu-btn__line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}