@property --gradient-angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
:root {
  --clr-1: #ffa200;
  --clr-3: #ad0c0c;
  --clr-4: #b19797;
  --clr-5: rgb(47 77 133);
}

.bg-cont {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url("../../assets/graduate1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.root {
  background-color: #d1bcbc;
}

.logo-center {
  box-sizing: inherit;
  margin-top: 0;
  margin-bottom: 0.512em;
  font-family: Stanford, Source Serif Pro, Georgia, Times, Times New Roman,
    serif !important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 20px;
  z-index: 0;
  margin-left: 0;
  height: auto;
  display: block;
  backface-visibility: hidden;
  padding: 0;
  transition: font-size 0.5s ease;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 7em;
  text-shadow: 0 0 30px rgba(0, 0, 0, 0.7);
  position: fixed;
  color: #ffffff;
  text-shadow: #000 0 0 10px;
}

.first-div {
  z-index: 2;
  height: 98vh;
  background: #e7e7e7;
  opacity: 0;
}

.second-div {
  position: relative;
  z-index: 1;
  border-radius: 30px 30px 0 0;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  position: relative;
  padding: 20px;
  padding-bottom: 50px;
  box-shadow: 0 0 15px 0 rgb(22, 31, 70);
}
.post-cont {
  font-family: georgia, "times new roman", times, serif;
  padding-left: 50px;
}
.post-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  text-align: center;
}
.post-text {
  width: 100%;
  max-width: 1000px;
  color: #000;
  outline: 0;
  margin: 0 0 1em 0;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
  margin-right: 50px;
}
.post-img img {
  width: 100%;
  max-height: 600px;
  margin: 0;
  padding: 0;
  margin-right: 50px;
  margin-bottom: 20px;
  float: right;
}
.post-inside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  gap: 1rem;
}
.post-footer {
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

/* departement cards */
.departement-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.departement {
  width: 300px;
  height: 400px;
  margin: 20px;
  padding: 20px;
  transition: box-shadow 0.3s ease-in-out;
  aspect-ratio: 1 / 1.5;
  background: #ffffff;
  border-radius: 0.5rem;
  position: relative;
}

.departement::before {
  content: "";
  position: absolute;
  inset: -0.5rem;
  z-index: -1;
  background: conic-gradient(
    from var(--gradient-angle),
    var(--clr-3),
    var(--clr-4),
    var(--clr-5),
    var(--clr-4),
    var(--clr-3)
  );
  border-radius: inherit;
  animation: rotation 10s linear infinite;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

.departement:hover {
  box-shadow: none;
}

.departement-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}
.departement h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.departement p {
  font-size: 16px;
  line-height: 1.5;
  max-height: 80%;
  overflow: auto;
}


/* Create a custom scrollbar track */
::-webkit-scrollbar {
  width: 0.7rem;
  height: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #8d99c096;
}

/* Create a custom scrollbar */
::-webkit-scrollbar-thumb {
  background:     #3e4e6d;
  border-radius: 40px;
}
::-webkit-scrollbar-thumb:hover {
  background: #523131;
}