.bg-cont {
  height: 100vh;
  width: 100%;
  margin: 0;
  margin-top: 40px;
  padding: 0;
  background-image: url("../../assets/graduate.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: scroll;
}

.root {
  background-color: #d1bcbc;
}

.logo-center {
 
  box-sizing: inherit;
  margin-top: 0;
  margin-bottom: .512em;
  font-family: Stanford,Source Serif Pro,Georgia,Times,Times New Roman,serif!important;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 20px;
  z-index: 0;
  margin-left: 0;
  height: auto;
  display: block;
  backface-visibility: hidden;
  padding: 0;
  transition: font-size .5s ease;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size: 5.9604644775em;
  text-shadow: 0 0 30px rgba(0,0,0,.7);
  position: fixed;
  color: #d0d6f7;
  }
  

.first-div {
  z-index: 2;
  height: 93vh;
  background: #e7e7e7;
  opacity: 0;
}

.second-div {
  position: relative;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(15px);
  position: relative;
  padding: 20px;
  padding-bottom: 300px;
  box-shadow: 0 0 15px 0 rgb(22, 31, 70);
}
.post-cont{
    font-family: georgia, "times new roman", times, serif;
    padding-left: 50px;
}
.post-title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}
.post-text{
    width: 100%;
    max-width: 1000px;
    color: #000;
    outline: 0;
    margin: 0 0 1em 0;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    margin-right: 50px;
}
.post-img img{
    width: 100%;
    max-height: 600px;
    margin: 0;
    padding: 0;
    margin-right: 50px;
    margin-bottom: 20px;
    float: right;
}
.post-inside{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    gap: 1rem;

}
.post-footer{ 
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-bottom: 20px;
    
}
    

