.form {
  margin: 20px auto;
  margin-top: 80px;
  width: 400px;
  padding: 20px 30px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 0 0 10px 10px rgba(13, 60, 160, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;
  transition: 300ms;
  animation: fadeIn 0.5s ease-in-out;
  animation-fill-mode: forwards;
  }
  .form-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;


  }
  
  .form-label {
    color: #fff;
    font-weight: 600;
  }
  
  .form-input {
    width: 100%;
    height: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  .form-textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0 10px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .form-button  {
    color:inherit;
    display: inline-block;
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #0A2E5F;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;  
    margin: 0 10px;
    border: none;
    align-self: center;
  }
  .form-button:hover{
    background-color: #333333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
  }h3{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
} 
  .Modal-button{
    width: 80%;
    height: 40px;
    margin:  0px auto 0;
    border: none;
    border-radius: 4px;
    background-color: #a4b5cc;
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }
  
.Error{
  color: red;
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
}