.sidebar {
  display: flex;
  flex-direction: column;
  width: 80%;
  border-right: 1px solid #ccc;
  border-radius: 10px;
  margin: 20px auto;
}

.tabs {
  display: flex;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  flex: 1;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  text-align: center;
  transition: all 0.3s;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #fff;
  border-bottom: none;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: 1px solid #ccc;
  text-align: left;
}

th {
  background-color: #ddd;
  font-weight: bold;
}
