header {
  background-color: #2f3347;
      height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; ;
    border-radius: 0 0 10px 10px;
  }
  
  header img {
    height: 50px; 
  }
  
.ul-header {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

  }
  
  .header-list {
    color:inherit;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #0A2E5F;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;
    margin: 0 10px;
    padding: auto;
  }
  .header-list a{
    color:inherit;
    text-decoration: none;
  }
  .header-list:hover{
    background-color: #333333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
  }

  
 
  