header {
    background-color: #1e1e1e;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    
    

    
  }
  
  header img {
    width: 50px;
    height: 50px;
  }
  
  header ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;

  }
  
  header li {
    margin: 0 10px;
    font-size: 20px;
  }
  
  header a {
    text-decoration: none;
    color: white;
  }
  
  header ul li ul {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  header ul li:hover ul {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
  }
  