.Insert-Btn{
    color:inherit;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    background-color: #0A2E5F;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: 300ms;
    margin: 0 10px;
    padding: auto;
}
.Insert-Btn:hover{
    background-color: #333333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
}
.Home-cont{
    padding-left: 50px;
    
}