.Insert-Btn{
    background-color: #0A2E5F;
    border: none;
    color: white;
    padding: 15px ;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.Insert-Btn:hover{
    background-color: #333333;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 2);
}
.Home-cont{
    padding-left: 50px;
    
}