.Container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PDF-container {
    position: relative;
    margin: 20px;
    width: 100%;
    height:600px; /* Set the height of the container as per your requirement */
    overflow: auto; /* Add the scrollbar to the container */
  }
  
  .PDF-pages {
    width: 100%;
    height: auto;
  }
  
  .Page-pdf {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  .Download-Link{
    margin: 50px;
    background-color: #298634;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
  }
